@model IEnumerable<dominio.Entities.User>

<h2>Mostrar Usuário</h2>

<a href="/User/Salvar" class="btn btn-success">Novo Usuário</a>

<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Dpto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>@item.Nome </td>
                    <td>@item.Email </td>
                    <td>@item.Departamento.Nome </td>
                    <td>
                        <a href="/User/Editar/@item.Id" class="btn btn-primary">Editar</a>
                    </td>
                    <td>
                        <a href="/User/Deletar/@item.Id" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>