@model Aula4.Models.Teste

@{
    ViewData["Title"] = "Teste";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>hey brazil<p>
    <p>Msg : @Model.Msg</p>
    <p>Id : @Model.Id</p>
</div>
